a {
  text-decoration: none;
  color: #555;
}

.headlines_container {
  display: flex;
  font-size: 0.7rem;
  text-align: left;
  margin-bottom: 4px;
}

.headline {
  width: 33%;
  padding: 5px;
  border-right: 1px solid black;
}

.headline:last-child {
  border-right: none;
}

.headline:active {
  background-color: #ccc;
}
