.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.App-header {
  position: sticky;
  top: 0;
  background-color: rgb(246, 245, 239, 1);
  padding: 32px 0px 0px 0px;
  border-bottom: 1px solid black;
}

.App-topline {
  font-family: 'SFProText-Regular', sans-serif;
  font-weight: 100;
  font-size: 14px;
  line-height: 0.8em;
  color: #444;
}

.App-title {
  font-family: 'PlayfairDisplay-Bold', Times, serif;
  font-size: 28px;
  line-height: 0.2em;
  color: black;
}

.App-date {
  font-family: 'SFProText-Regular', sans-serif;
  font-size: 12px;
  color: rgb(145, 145, 145);
  line-height: 0em;
}

.button_section {
  display: flex;
  flex-direction: column;
}

hr {
  background-color: rgb(246, 245, 239, 1);
  border-width: 0;
  margin-top: 8px;
}

hr.s1 {
  height: 2px;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
  margin-bottom: 44px;
}

.newsfeed {
  margin-bottom: 160px;
}
